{% extends 'base.html' %}

{% block main %}
    <div class="container mt-5">
        <h2 class="mb-4">Fournisseurs :</h2>

        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Cover IPTV</strong><br>
                    <a href="https://iptv-cover.com/produit/abonnement-iptv-python-6-mois/" target="_blank" class="btn btn-primary">
                        Acheter l'abonnement IPTV Python 6 mois
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
