{% extends 'base.html' %}

{% block main %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h2 class="text-center">Register User</h2>
          </div>
          <div class="card-body">
            <form method="POST" action="{{ url_for('register') }}" class="needs-validation" novalidate>
              {{ form.hidden_tag() }}

              <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                {{ form.name(class="form-control", autocomplete="off") }}
            </div>
              <div class="mb-3">
                <label for="subscribe_date" class="form-label">Subscribe Date:</label>
                <div class="input-group">
                  <span class="input-group-text">{{ form.subscribe_date.label }}</span>
                  {{ form.subscribe_date(class="form-control", placeholder='Current Date') }}
                </div>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number:</label>
                {{ form.phone(class="form-control",autocomplete="off") }}
              </div>
              <div class="mb-3">
                <label for="is_active" class="form-label">Account Active:</label>
                <div class="form-check form-switch">
                    {{ form.is_active(class="form-check-input") }}
                    <label class="form-check-label" for="is_active">Activate Account</label>
                </div>
            </div>
              <div class="mb-3">
                <label for="parrain_name" class="form-label">Parrain Name:</label>
                {{ form.parrain_name(class="form-control") }}
              </div>
              <div class="mb-3">
                <label for="commentaire" class="form-label">{{ form.commentaire.label }}</label>
                {{ form.commentaire(class="form-control", style="resize: none;") }}
            </div>
            
              <div class="mb-3">
                <div class="mb-3">
                  <label for="fournisseur" class="form-label">{{ form.fournisseur.label }}</label>
                  <select name="{{ form.fournisseur.name }}" class="form-control">
                      {% for choix in form.fournisseur.choices %}
                          <option value="{{ choix[0] }}">{{ choix[1] }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="mb-3 text-center">
                <button type="submit" class="btn btn-success">Register User</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
